<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Eat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            padding: 4% 15%;
        }
        .layout{
            height: 35rem;
            border: 2px solid green;
            display: flex;
        }
        .grid{
            margin: 1.5rem;
            width: 22%;
            border: 2px solid black;
            display: flex;
            flex-direction: column;
        }
        .grid_bt{
            border: none;
            margin: 1rem 0;
            background-color: white;
            height: 3rem;
        }
        i{
            margin-right: 0.5rem;
        }
        h1,p{
            margin-left: 0.5rem;
        }
        .grid_bt:hover{
            background-color: green;
        }
        .content{
            border: 2px solid green;
            width: 70%;
            margin: 2rem;
            display: none; /* Initially hide content */
        }
        .active {
            display: block; /* Show content when active */
        }
        @media only screen and (max-width:600px)  {
            .layout{
                width: 100%;
            }
            body{
                padding: 0;
            }
            .grid{
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <h1><%= username %></h1>
    <p>+91 xxxxxxxxxx</p>
    <div class="layout">
        <div class="grid">
            <!-- Use data attribute to specify target content -->
            <button class="grid_bt" data-target="orders"><i class='fa fa-shopping-bag' style='font-size:18px'></i>Orders</button>
            <button class="grid_bt" data-target="favourites"><i class="fa fa-heart" style="font-size:18px"></i>Favourites</button>
            <button class="grid_bt" data-target="payments"><i class="fa fa-credit-card" style="font-size:18px"></i>Payments</button>
            <button class="grid_bt" data-target="settings"><i class="fa fa-gear" style="font-size:18px"></i>Settings</button>
        </div>

        
        <div class="content" id="ordersContent">Orders content</div>
        <div class="content" id="favouritesContent">Favourites content</div>
        <div class="content" id="paymentsContent">Payments content</div>
        <div class="content" id="settingsContent">Settings content</div>
    </div>

    <script>
        // Get all buttons
        const buttons = document.querySelectorAll('.grid_bt');
        // Get all content divs
        const contents = document.querySelectorAll('.content');

        // Add click event listener to each button
        buttons.forEach(button => {
            button.addEventListener('click', function() {
                // Hide all content divs
                contents.forEach(content => {
                    content.classList.remove('active');
                });

                // Get the target content ID from the data-target attribute
                const targetId = button.getAttribute('data-target');
                // Show the target content
                document.getElementById(`${targetId}Content`).classList.add('active');
            });
        });
    </script>
</body>
</html>
